// Ionicons Font Path
// --------------------------

@font-face {
  font-family: "Raleway-Light";
  src: local("Raleway-Light"),
    url("./fonts/raleway/Raleway-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Raleway-Regular";
  src: local("Raleway-Regular"),
    url("./fonts/raleway/Raleway-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Raleway-Thin";
  src: local("Raleway-Thin"),
    url("./fonts/raleway/Raleway-Thin.ttf") format("truetype");
}
@font-face {
  font-family: "Raleway-Medium";
  src: local("Raleway-Medium"),
    url("./fonts/raleway/Raleway-Medium.ttf") format("truetype");
}
